<!DOCTYPE html>
<html>
<head>
</head>
<body>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    </thead>
    <tbody>
    {% for item in users %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.firstname }}</td>
            <td>{{ item.lastname }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<button class="submit btn btn-primary">Export as csv</button><br><br>
<button class="submit btn btn-primary">Export as json</button><br><br>
<button class="submit btn btn-primary">Export as html</button>

</body>
</html>